
@{
    ViewData["Title"] = "Пошук";
}

@using database.Models
<div class="col-xs-12 col-md-12 col-lg-3" id="sidebar" style="margin-top: 20px;">
    <form method="get" action="/">
        <fieldset class="form-group">
            <label for="country">Жанри</label>
            <div class="tab-content">
                <div class="tab-pane genres active show" id="include_genres" role="tabpanel" style="max-height: 15em;overflow-y: scroll;">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="12"> анімація
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="29"> аніме
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="8"> біографія
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="23"> вестерн
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="15"> військовий
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="20"> документальний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="7"> драма
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="1"> екшн
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="4"> жахи
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="25"> ігрове шоу
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="9"> історичний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="6"> комедія
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="17"> короткий
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="10"> кримінальний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="19"> містика
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="16"> музичний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="18"> мюзикл
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="14"> наукова фантастика
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="22"> невідомий
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="27"> новини
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="2"> пригоди
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="26"> реаліті-шоу
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="11"> романтичний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="13"> сімейний
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="21"> спорт
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="28"> ток-шоу
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="5"> трилер
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="3"> фентезі
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="genres[]" value="24"> чорна плівка
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <label for="country">Країна</label>
            <select class="form-control" id="type" name="country">
                <option value="">Будь-яка країна</option>
                <option value="afghanistan">
                    Афганістан
                </option>
                <option value="albania">
                    Албанія
                </option>
                <option value="algeria">
                    Алжир
                </option>
                <option value="andorra">
                    Андорра
                </option>
                <option value="angola">
                    Ангола
                </option>
                <option value="antarctica">
                    Антарктида
                </option>
                <option value="argentina">
                    Аргентина
                </option>
                <option value="armenia">
                    Вірменія
                </option>
                <option value="aruba">
                    Аруба
                </option>
                <option value="australia">
                    Австралія
                </option>
                <option value="austria">
                    Австрія
                </option>
                <option value="azerbaijan">
                    Азербайджан
                </option>
                <option value="bahamas">
                    Багамські Острови
                </option>
                <option value="bangladesh">
                    Бангладеш
                </option>
                <option value="barbados">
                    Барбадос
                </option>
                <option value="belarus">
                    Білорусь
                </option>
                <option value="belgium">
                    Бельгія
                </option>
                <option value="benin">
                    Бенін
                </option>
                <option value="bermuda">
                    Бермудські острови
                </option>
                <option value="bhutan">
                    Бутан
                </option>
                <option value="bolivia">
                    Болівія
                </option>
                <option value="bosnia and herzegovina">
                    Боснія і Герцеговина
                </option>
                <option value="botswana">
                    Ботсвана
                </option>
                <option value="brazil">
                    Бразилія
                </option>
                <option value="british indian ocean territory">
                    Британська територія в Індійському океані
                </option>
                <option value="british virgin islands">
                    Британські Віргінські Острови
                </option>
                <option value="brunei darussalam">
                    Бруней
                </option>
                <option value="bulgaria">
                    Болгарія
                </option>
                <option value="burkina faso">
                    Буркіна-Фасо
                </option>
                <option value="burundi">
                    Бурунді
                </option>
                <option value="cambodia">
                    Камбоджа
                </option>
                <option value="cameroon">
                    Камерун
                </option>
                <option value="canada">
                    Канада
                </option>
                <option value="cape verde">
                    Кабо-Верде
                </option>
                <option value="cayman islands">
                    Кайманові острови
                </option>
                <option value="central african republic">
                    Центральноафриканська Республіка
                </option>
                <option value="chad">
                    Чад
                </option>
                <option value="chile">
                    Чилі
                </option>
                <option value="china">
                    Китай
                </option>
                <option value="colombia">
                    Колумбія
                </option>
                <option value="congo">
                    ДР Конго
                </option>
                <option value="costa rica">
                    Коста-Рика
                </option>
                <option value="cote d'ivoire">
                    Кот-д'Івуар
                </option>
                <option value="croatia">
                    Хорватія
                </option>
                <option value="cuba">
                    Куба
                </option>
                <option value="cyprus">
                    Кіпр
                </option>
                <option value="czech republic">
                    Чехія
                </option>
                <option value="czechoslovakia">
                    Чехословаччина
                </option>
                <option value="denmark">
                    Данія
                </option>
                <option value="djibouti">
                    Джибуті
                </option>
                <option value="dominican republic">
                    Домініканська Республіка
                </option>
                <option value="east germany">
                    Східна Німеччина
                </option>
                <option value="ecuador">
                    Еквадор
                </option>
                <option value="egypt">
                    Єгипет
                </option>
                <option value="el salvador">
                    Сальвадор
                </option>
                <option value="equatorial guinea">
                    Екваторіальна Гвінея
                </option>
                <option value="estonia">
                    Естонія
                </option>
                <option value="ethiopia">
                    Ефіопія
                </option>
                <option value="federal republic of yugoslavia">
                    Сербія та Чорногорія
                </option>
                <option value="fiji">
                    Фіджі
                </option>
                <option value="finland">
                    Фінляндія
                </option>
                <option value="france">
                    Франція
                </option>
                <option value="french polynesia">
                    Французька Полінезія
                </option>
                <option value="french southern territories">
                    Французькі Південні і Антарктичні території
                </option>
                <option value="georgia">
                    Грузія
                </option>
                <option value="germany">
                    Німеччина
                </option>
                <option value="ghana">
                    Гана
                </option>
                <option value="gibraltar">
                    Гібралтар
                </option>
                <option value="greece">
                    Греція
                </option>
                <option value="greenland">
                    Ґренландія
                </option>
                <option value="guam">
                    Гуам
                </option>
                <option value="guatemala">
                    Гватемала
                </option>
                <option value="guinea">
                    Гвінея
                </option>
                <option value="guinea-bissau">
                    Гвінея-Бісау
                </option>
                <option value="guyana">
                    Гайана
                </option>
                <option value="haiti">
                    Гаїті
                </option>
                <option value="holy see">
                    Ватикан
                </option>
                <option value="honduras">
                    Гондурас
                </option>
                <option value="hong kong">
                    Гонконг
                </option>
                <option value="hungary">
                    Угорщина
                </option>
                <option value="iceland">
                    Ісландія
                </option>
                <option value="india">
                    Індія
                </option>
                <option value="indonesia">
                    Індонезія
                </option>
                <option value="iran">
                    Іран
                </option>
                <option value="iraq">
                    Ірак
                </option>
                <option value="ireland">
                    Ірландія
                </option>
                <option value="isle of man">
                    Острів Мен
                </option>
                <option value="israel">
                    Ізраїль
                </option>
                <option value="italy">
                    Італія
                </option>
                <option value="jamaica">
                    Ямайка
                </option>
                <option value="japan">
                    Японія
                </option>
                <option value="jordan">
                    Йорданія
                </option>
                <option value="kazakhstan">
                    Казахстан
                </option>
                <option value="kenya">
                    Кенія
                </option>
                <option value="kuwait">
                    Кувейт
                </option>
                <option value="kyrgyz republic">
                    Киргизстан
                </option>
                <option value="lao people's democratic republic">
                    Лаос
                </option>
                <option value="latvia">
                    Латвія
                </option>
                <option value="lebanon">
                    Ліван
                </option>
                <option value="liberia">
                    Ліберія
                </option>
                <option value="libyan arab jamahiriya">
                    Лівія
                </option>
                <option value="liechtenstein">
                    Ліхтенштейн
                </option>
                <option value="lithuania">
                    Литва
                </option>
                <option value="luxembourg">
                    Люксембург
                </option>
                <option value="macao">
                    Макао
                </option>
                <option value="macedonia">
                    Республіка Македонія
                </option>
                <option value="madagascar">
                    Мадагаскар
                </option>
                <option value="malawi">
                    Малаві
                </option>
                <option value="malaysia">
                    Малайзія
                </option>
                <option value="maldives">
                    Мальдіви
                </option>
                <option value="mali">
                    Малі
                </option>
                <option value="malta">
                    Мальта
                </option>
                <option value="martinique">
                    Мартиніка
                </option>
                <option value="mauritania">
                    Мавританія
                </option>
                <option value="mauritius">
                    Маврикій
                </option>
                <option value="mexico">
                    Мексика
                </option>
                <option value="moldova">
                    Молдова
                </option>
                <option value="monaco">
                    Монако
                </option>
                <option value="mongolia">
                    Монголія
                </option>
                <option value="montenegro">
                    Чорногорія
                </option>
                <option value="morocco">
                    Марокко
                </option>
                <option value="mozambique">
                    Мозамбік
                </option>
                <option value="myanmar">
                    М'янма
                </option>
                <option value="namibia">
                    Намібія
                </option>
                <option value="nepal">
                    Непал
                </option>
                <option value="netherlands">
                    Нідерланди
                </option>
                <option value="netherlands antilles">
                    Нідерландські Антильські острови
                </option>
                <option value="new zealand">
                    Нова Зеландія
                </option>
                <option value="nicaragua">
                    Нікарагуа
                </option>
                <option value="niger">
                    Нігер
                </option>
                <option value="nigeria">
                    Нігерія
                </option>
                <option value="north korea">
                    Північна Корея
                </option>
                <option value="norway">
                    Норвегія
                </option>
                <option value="pakistan">
                    Пакистан
                </option>
                <option value="palestinian territory">
                    Палестина
                </option>
                <option value="panama">
                    Панама
                </option>
                <option value="papua new guinea">
                    Папуа Нова Гвінея
                </option>
                <option value="paraguay">
                    Парагвай
                </option>
                <option value="peru">
                    Перу
                </option>
                <option value="philippines">
                    Філіппіни
                </option>
                <option value="poland">
                    Польща
                </option>
                <option value="portugal">
                    Португалія
                </option>
                <option value="puerto rico">
                    Пуерто-Рико
                </option>
                <option value="qatar">
                    Катар
                </option>
                <option value="republic of macedonia">
                    Республіка Македонія
                </option>
                <option value="romania">
                    Румунія
                </option>
                <option value="russia">
                    Росія
                </option>
                <option value="rwanda">
                    Руанда
                </option>
                <option value="samoa">
                    Самоа
                </option>
                <option value="san marino">
                    Сан-Марино
                </option>
                <option value="saudi arabia">
                    Саудівська Аравія
                </option>
                <option value="senegal">
                    Сенегал
                </option>
                <option value="serbia">
                    Сербія
                </option>
                <option value="serbia and montenegro">
                    Сербія і Монтенегро
                </option>
                <option value="singapore">
                    Сінгапур
                </option>
                <option value="slovakia">
                    Словаччина
                </option>
                <option value="slovenia">
                    Словенія
                </option>
                <option value="somalia">
                    Сомалі
                </option>
                <option value="south africa">
                    ПАР
                </option>
                <option value="south korea">
                    Південна Корея
                </option>
                <option value="soviet union">
                    CРСР
                </option>
                <option value="spain">
                    Іспанія
                </option>
                <option value="sri lanka">
                    Шрі-Ланка
                </option>
                <option value="suriname">
                    Суринам
                </option>
                <option value="swaziland">
                    Свазіленд
                </option>
                <option value="sweden">
                    Швеція
                </option>
                <option value="switzerland">
                    Швейцарія
                </option>
                <option value="syrian arab republic">
                    Сирія
                </option>
                <option value="taiwan">
                    Тайвань
                </option>
                <option value="tajikistan">
                    Таджикистан
                </option>
                <option value="tanzania">
                    Танзанія
                </option>
                <option value="thailand">
                    Таїланд
                </option>
                <option value="togo">
                    Того
                </option>
                <option value="trinidad and tobago">
                    Тринідад і Тобаго
                </option>
                <option value="tunisia">
                    Туніс
                </option>
                <option value="turkey">
                    Туреччина
                </option>
                <option value="turkmenistan">
                    Туркменістан
                </option>
                <option value="turks and caicos islands">
                    Острови Теркс і Кайкос
                </option>
                <option value="uganda">
                    Уганда
                </option>
                <option value="uk">
                    Велика Британія
                </option>
                <option value="ukraine">
                    Україна
                </option>
                <option value="united arab emirates">
                    Об'єднані Арабські Емірати
                </option>
                <option value="united kingdom">
                    Велика Британія
                </option>
                <option value="united states minor outlying islands">
                    Зовнішні малі острови США
                </option>
                <option value="united states of america">
                    США
                </option>
                <option value="uruguay">
                    Уругвай
                </option>
                <option value="usa">
                    США
                </option>
                <option value="uzbekistan">
                    Узбекистан
                </option>
                <option value="vanuatu">
                    Вануату
                </option>
                <option value="venezuela">
                    Венесуела
                </option>
                <option value="viet nam">
                    В'єтнам
                </option>
                <option value="vietnam">
                    В'єтнам
                </option>
                <option value="west germany">
                    Західна Німеччина
                </option>
                <option value="yemen">
                    Ємен
                </option>
                <option value="yugoslavia">
                    Югославія
                </option>
                <option value="zambia">
                    Замбія
                </option>
                <option value="zimbabwe">
                    Зімбабве
                </option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="order_by">Сортувати за</label>
            <select class="form-control" name="order_by" id="order_by">
                <option value="year_desc">
                    Рік випуску (новіші спочатку)
                </option>
                <option value="year_asc">
                    Рік випуску (старші спочатку)
                </option>
                <option value="year_desc_torrent_desc">
                    Рік випуску, дата торренту (новіші спочатку)
                </option>
                <option value="torrent_desc">
                    Дата додання торренту (новіші спочатку)
                </option>
                <option value="torrent_asc">
                    Дата додання торренту (старші спочатку)
                </option>
                <option value="imdb_rating_desc">
                    Рейтинг імдб (кращі спочатку)
                </option>
                <option value="imdb_rating_asc">
                    Рейтинг імдб (гірші спочатку)
                </option>
                <option value="imdb_votes_desc">
                    Голосів імдб (більше-&gt;менше)
                </option>
                <option value="imdb_votes_asc">
                    Голосів імдб (менше-&gt;більше)
                </option>
                <option value="metascore_desc">
                    Рейтинг метакритики (кращі спочатку)
                </option>
                <option value="metascore_asc">
                    Рейтинг метакритики (гірші спочатку)
                </option>
                <option value="imdb_top_asc">
                    Рейтинг imdb top 250 (кращі спочатку)
                </option>
                <option value="imdb_top__desc">
                    Рейтинг imdb top 250 (гірші спочатку)
                </option>
            </select>
        </fieldset>
        <fieldset class="form-group">
            <label for="ys">Рік випуску (мін)</label>
            <input type="number" class="form-control" id="ys" name="ys" placeholder="1900" min="1850" max="2050" value="">
        </fieldset>
        <fieldset class="form-group">
            <label for="ye">Рік випуску (макс)</label>
            <input type="number" class="form-control" id="ye" name="ye" placeholder="2016" min="1850" max="2050" value="">
        </fieldset>
        <button type="submit" class="btn btn-block btn-primary">Фільтрувати</button>
    </form>
</div>
<div class="col-xs-12 col-sm-9" style="margin-top: 20px;">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Шукати...">
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Пошук</button>
        </span>
    </div>
    @foreach (Movie movie in Model)
    {
        <div>
            <h2 class="altname">@movie.Name (@movie.Year)</h2>
            <div class="row details-panel">

                <div class="col-md-4">
                    <a data-fancybox="" href="@movie.Poster" rel="posters">
                        <img itemprop="image" class="img-responsive" src="@movie.Poster" alt="@movie.Name">
                    </a>
                </div>
                <div class="col-md-8 col-sm-6">
                    <div></div>
                    <table class="table movie-detail">
                        <tbody>
                            <tr>
                                <td>Жанр:</td>
                                <td>
                                    @foreach (MovieGenre genre in movie.Genres)
                                    {
                                        <a class="label label-primary" href="">@genre.Genre.Name</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Країна:</td>
                                <td>
                                    @foreach (MovieCountry country in movie.Countries)
                                    {
                                        <a class="label label-primary" href="">@country.Country.Name</a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>Тривалість:</td>
                                <td>@movie.Length</td>
                            </tr>
                            <tr>
                                <td>Кінокомпанія</td>
                                <td>@movie.Companies</td>
                            </tr>
                            <tr>
                                <td>Режисер:</td>
                                <td>@movie.Director</td>
                            </tr>
                            <tr>
                                <td>Актори:</td>
                                <td>@movie.Actors</td>
                            </tr>
                            <tr>
                                <td>IMDB:</td>
                                <td>
                                    <a target="_blank" rel="nofollow" href="http://www.imdb.com/title/tt5886440/" class="postlink"><img src="//hurtom.com/imdb/tt5886440.png" border="0" alt=""></a>
                                </td>
                            </tr>
                            <tr>
                                <td>Сюжет:</td>
                                <td>@movie.Story</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
            </div>
        </div>
        <br>
    }
</div>

